

/*-------------------------------------------------------------------------------------------------------------------------------------------
 GLOBAL STYLES
 ---------------------------------------------------------------------------------------------------------------------------------------------*/
a.blue{
    color: #2AB5Eb; !important;
}
.navbar-brand>img {
    display: block;
    margin-top: -2%;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------
 HOMEPAGE
 ---------------------------------------------------------------------------------------------------------------------------------------------*/
/*block 1 - NEED HELP FROM THE ITC COMMUNITY*/

.home-title{
    text-align: center;
}

.title-black{
    color:#3B393B;
}
.need{
    width: 100%;
    background-color: white;
    margin-top: 20%;
    border-radius: 12px;
    margin-right: 2%;
    padding: 3%;
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.need:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



h3 .need-title{
    color: #2AB5EA;
    font-family:  Arial, sans-serif;
    font-size: 15px;
}

.home-carousel h3 {
    color: #2AB5EA;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}







/*-------------------------------------------------------------------------------------------------------------------------------------------
 ALUMNI - DIRECTORY PAGE
 ---------------------------------------------------------------------------------------------------------------------------------------------*/








/*-------------------------------------------------------------------------------------------------------------------------------------------
 ACCOUNT PAGE
 ---------------------------------------------------------------------------------------------------------------------------------------------*/






/*-------------------------------------------------------------------------------------------------------------------------------------------
VALIDATION RESULT PAGE
 ---------------------------------------------------------------------------------------------------------------------------------------------*/