

/*-------------------------------------------------------------------------------------------------------------------------------------------
 GLOBAL STYLES
 ---------------------------------------------------------------------------------------------------------------------------------------------*/
.blue{
    color: #2AB5Eb; !important;
}
.navbar-brand>img {
    display: block;
    margin-top: -2%;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------
 HOMEPAGE
 ---------------------------------------------------------------------------------------------------------------------------------------------*/
/*block 1 - NEED HELP FROM THE ITC COMMUNITY*/

.home-title{
    text-align: center;
}

.title-black{
    color:#3B393B;
}
.need{
    width: 100%;
    background-color: white;
    margin-top: 20%;
    border-radius: 12px;
    margin-right: 2%;
    padding: 3%;
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.need:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.need.opacity{
    background-color: rgba(255, 255, 255, 0.3);
}

h3 .need-title{
    color: #2AB5EA;
    font-family:  Arial, sans-serif;
    font-size: 15px;
}

.home-carousel h3 {
    color: #2AB5EA;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.checkbox{
    font-family:  Arial, sans-serif;
    font-size: 20px;
    margin-right: 10%;
    margin-left: 2%  ;
    margin-top: 2%;
    display: inline-block;}


input[type="checkbox"] {
    width: 25px; /*Desired width*/
    height: 25px; /*Desired height*/
    cursor: pointer;
}

.input-checkbox{
    margin-left: 10%;
    width: auto;

}

.checkbox label, .radio label {
    margin-bottom: 13px;
    width: auto;
}


.subject {
    margin-top: 2%;
    display: block;
    margin-bottom: 3%;
    margin-left: inherit;
}
.block-form{
    margin-top: 2%;
    border-radius: 10px;
    padding-bottom: 5%;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    display: none;

}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: inherit;
}

.btn-search{
    background-color:#3B393B ;
    color: white;
    border-radius: 10px;
    width: 350px;
    margin-right: auto;
    padding: 2%;
    margin-top: 2%;
}

.btn-search {
    cursor: pointer;
}

.btn-all{
    font-size: 30px;
    background-color: #2AB5EA;
    font-family:  Arial, sans-serif;
    margin-bottom: 5%;
    color: white;
    width: 100%;
}

.need.alumni{
    background-color: #2AB5EA;
    width: 200PX;
    text-align: center;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------
 ALUMNI - DIRECTORY PAGE
 ---------------------------------------------------------------------------------------------------------------------------------------------*/
.alumni-background {
    position: relative;
    background: url('../img/texture-bw.png') center center repeat;
    background-size: cover;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    /*height: 500px;*/
    margin-top: 1%;
    padding-bottom: 5%;
    padding-top: 5%;
}
.alumni-background .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(242,242,242,.90);
    /* opacity: 0.9; */
    /*filter: alpha(opacity=90);*/
}

.row.alumni{
    border: 6px solid white;
    margin-top: 3%;
}

.left-info{
    text-align: center;
}

.right-info{
    margin-top: 10%;
}

.img-cirlce{
    max-width: 70%;
    height: auto;
    display:block;
}

.alumni-key {
    font-size: 19px;
    font-weight: 700;
    COLOR: #2AB5EA;
    MARGIN-RIGHT: 2%;
}

.margin-info{
    margin:5px;
}

.flag{
    display: block;
    margin-left: auto;
    margin-right:auto ;
}
.img-skill{
    margin-top: 5%;
    display: block;
    max-width: 80%;
    height: auto
}

/*-------------------------------------------------------------------------------------------------------------------------------------------
 ACCOUNT PAGE
 ---------------------------------------------------------------------------------------------------------------------------------------------*/
#heading-breadcrumbs {
    background: url('../img/texture-bw.png') center center repeat;
    padding: 20px 0;
    margin-bottom: 40px;
    margin-top: 10px;}

input[type="radio"] {
    width: 15px; /*Desired width*/
    height: 15px; /*Desired height*/
    cursor: pointer;
    margin-right: 16px;
    margin-left: 16px;}

.panel-title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    color: inherit;
}

.panel-default>.panel-heading {
    color: white;
    background-color: #2AB5EA;
    margin-top: 5px;
    margin-bottom: 5px;

}
.panel-group.accordion .panel {
    border: none;
}

.margin-request{
    text-align: center;
    margin-top: 6%;
}
.col-sm-6.background{
background-color: rgb(220, 213, 213);}

/*-------------------------------------------------------------------------------------------------------------------------------------------
VALIDATION RESULT PAGE
 ---------------------------------------------------------------------------------------------------------------------------------------------*/

.matching-background {
    position: relative;
    background: url('../img/texture-bw.png') center center repeat;
    background-size: cover;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    /*height: 500px;*/
    margin-top: 1%;
    padding-bottom: 5%;
    padding-top: 5%;
}
.matching-background .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(242,242,242,.90);
    /* opacity: 0.9; */
    /*filter: alpha(opacity=90);*/
}

.text-matching{
    font-size: 20px;
    text-align: center;
}